<h1>Receive</h1>
<h2>Thank you for your donation!</h2>

<p>This link will expire in two hours.</p>
<%= @donation.amount %>
<%= @donation.donor.email %>
<p>
  If you did not request your password to be reset, please ignore this email and
  your password will stay as it is.
</p>