<p style="color: transparent">HACK</p>
<div style="width: 80%; margin: 0 auto">
  <table border="0" cellpadding="0" cellspacing="0" width="100%" style="margin-top: 200px">
    <tr>
      <td bgcolor="#ffffff" align="center">
        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 500px;" class="wrapper">
          <tr>
            <td align="center" valign="top" style="padding: 15px 0; padding-bottom: 0px" class="logo">
              <a href="http://tfgfrontend0.herokuapp.com" target="_blank">
                <img alt="Logo" src="http://tfgbackend0.herokuapp.com/images/logo.png" width="200" height="200" style="display: block; font-family: Helvetica, Arial, sans-serif; color: #ffffff; font-size: 16px;" border="0">
                <!--              <p id="goc-title">GIFTOFCHARITY</p>-->
              </a>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td bgcolor="#ffffff" align="center" style="padding: 15px;">
        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 500px;" class="responsive-table">
          <tr>
            <td>
              <!-- COPY -->
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td align="center" style="font-size: 32px; font-family: Helvetica, Arial, sans-serif; color: #333333; padding-top: 0px;" class="padding-copy">Hello <b><%= gift.receiver.name %></b>!
                  </td>
                </tr>
                <tr>
                  <td style="padding: 20px 0 20px 0; font-size: 22px; font-family: Helvetica, Arial, sans-serif; color: #666666; line-height: 40px; text-align: justify">
                    We are glad to tell you that your friend <b><%= gift.donation.donor.name %></b> wants to show you a video!
                    But before you watch the video, we want to know your knowledge about the environment with a questionnaire.
                    We'll let you access to a special section in our website so you'll know what's going on:
                  </td>
                </tr>
                <tr>
                  <td align="center" class="padding-copy" style="padding-top: 15px;font-family: Helvetica, Arial, sans-serif;">
                    <input value="<%= gift.secret_url %>" type="text" style="
                      font-size: 22px;
                      width: 70%;
                      text-align: center;
                      padding: 8px;
                      background-color: #dbecd4;
                      border: none;
                      font-family: Helvetica, Arial, sans-serif;
                    ">
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  <!--  <tr>-->
  <!--    <td bgcolor="#ffffff" align="center" style="padding: 15px;">-->
  <!--      <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 500px;" class="responsive-table">-->
  <!--        <tr>-->
  <!--          <td>-->
  <!--            <table width="100%" border="0" cellspacing="0" cellpadding="0">-->
  <!--              <tr>-->
  <!--                <td>-->
  <!--                  <table width="100%" border="0" cellspacing="0" cellpadding="0">-->
  <!--                    <tr>-->
  <!--                      <td align="left" style="padding: 0 0 0 0; font-size: 14px; line-height: 18px; font-family: Helvetica, Arial, sans-serif; color: #aaaaaa; font-style: italic;" class="padding-copy"><%#= gift.donation.created_at%>, with order id: <%#= gift.donation.id %>-->
  <!--                      </td>-->
  <!--                    </tr>-->
  <!--                  </table>-->
  <!--                </td>-->
  <!--              </tr>-->
  <!--            </table>-->
  <!--          </td>-->
  <!--        </tr>-->
  <!--      </table>-->
  <!--    </td>-->
  <!--  </tr>-->
    <tr>
      <td bgcolor="#ffffff" align="center" style="padding: 20px 0px;">
        <!-- UNSUBSCRIBE COPY -->
        <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" style="max-width: 500px;" class="responsive-table">
          <tr>
            <td align="center" style="font-size: 14px; line-height: 18px; font-family: Helvetica, Arial, sans-serif; color:#666666;">
              Ronda de Sant Pere 67, Barcelona 08003, Spain
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>